

body {
    background-color: rgb(250, 195, 75);
     }
 
 header {
     background-color: rgb(156, 214, 132);
 }
 
 nav {
     background-color: cornflowerblue;
 }
 
 main {
     background-color: rgb(19, 139, 160);
     width: 1200px;
 }
 
 footer {
     background-color: rgb(18, 155, 91);
 }
 
 h2 {
     background-color: rgb(197, 116, 218);
 }
 
 article {
     background-color: #fff;
 }
 aside {
     background-color: lightgrey;
 } 