/* les styles pour le premierSITE Patrick Isola chantier Suresnes 2021-2022 */
@charset "UTF-8";
/* reset simple  */
/* l'étoile signifie tout all */
/* sinon on peut utiliser le reset d'Eric Meyer qui se trouve à cette adresse : http://meyerweb.com/eric/tools/css/reset/ */
* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* fin du reseet simple */

/* les typos Google Font utilisées dans le site  */
/* Anton, Oswald, Lemonada  */

/* font-family: 'Anton', sans-serif;
font-family: 'Lemonada', cursive;
font-family: 'Oswald', sans-serif; */

body {
    font-family: 'Oswald', sans-serif;
    /* image de fond  */
    /* chemin depuis le fichier style.css ; on sort du dossier css puis on rentre dans le dossier img : ../ le chemin pour sortir d'un dossier */
    background-image: url('../img/concrete-texture.png');
}

/* les titres du site */

h1 {
    /* typo google */
    font-family: 'Anton', sans-serif;
    /* taille de typo  */
    font-size: 40px;
    /* espacement entre les lettres */
    letter-spacing: 1px;
    /* couleur réf. héxadécimale */
    color: #2980b9;
    text-align: center;
}

h2 {
    font-size: 35px;
    color: #2c3e50;
    /* épaisseur des caractères */
    font-weight:bolder;
    /* text-shadow ou ombre portée, une propriété qui a besoin de 1 ou plusieurs valeurs cf. : https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow*/
    text-shadow: 1px 1px 2px #aaa;
}

/* taille de l'icône dans les h2  */
/* i enfant de h2 ; l'icône sera 150% plus grande que la taille d'origine */
h2 i {
    font-size: 150%;
}

h3 {
    font-size: 22px;
    color: #2c3e50;
    text-shadow: 1px 1px 2px #aaa;
}

h4 {
    text-align: center;
}

p {
    padding: 5px;
}

blockquote {
    font-family: 'Lemonada', cursive;
    font-size: 80%;
}

blockquote i {
    font-size: 350%;
    color: #6acafc;
    vertical-align: middle;
}

/* A compléter position */

/* header */
header {
    height: 175px;
    background-color: #719bc5;
}

/* dans le header, les trois zones suivantes flottent toutes les trois à gauche elles ont une largeur en %, donc une largeur relatives à l'élément parent donc header */
/* la propriété float sert à casser le flux du html */
#logo {
    /* 1 la boite  */
    width: 25%;
    float: left;
    padding: 15px;  /* 2 marge intérieure de l'élément padding = rembourrage */
    /* 3 aspect de la boite */
    background-color: #719bc5;
    /* 4 texte */
    text-align: center;
}

#slogan {
    width: 50%;
    float: left;
    padding-top: 50px;
    background-color: #719bc5;
}

#social {
    width: 25%;
    float: left;
    background-color: #719bc5;
}

#social i { /* ici on cible un élément i dont le parent à l'id "social" */
    display: block; /* je change la nature de l'élément i qui est de type inline, en un élément de type block */
    padding: 15px 30px 0 0;
    font-size: 30px;
    text-align: right;
}

header a {
    text-decoration: none;
    color: #10828c;
}

/* fin header */
/* la nav, la navigation */
nav {    
    height: 70px;
    padding: 15px;

    background-color: #2980b9;
    /* une bordure en bas */
    border-bottom: 8px solid #6acafc;  

    text-align: center;
}

nav a {
    margin: 10px;
    padding: 2px 10px;

    background: #6acafc;
    border: 2px solid #fff;
    /* arrondi des angles des bordures */
    /* https://css3generator.com/  */
    border-radius: 10px 0;

    font-family: 'Oswald', sans-serif;
    color: #2c3e50;
    text-decoration: none;
    font-size: 16px;
    /* transition sur le nav a, marche avec le a :hover */
    transition: 0.5s;
}

nav a:hover {
    /* a :hover une pseudo-class un effet au survol du curseur */
    background-color: #a6d6c3;
    color: #fff;
}

.active {
    background-color: #a6d6c3;
    color: orangered;
}

/* fin nav */

/* les zones principales */
main {
    width: 1100px;
    margin: 0 auto;
    /* une couleur en rgba : red green blue et avec un canal "alpha" on joue sur la transparence de la couleur rgb */
    background-color: rgba(178, 178, 178, 0.178);
}

aside {
    height: 250px;
    width: 30%;
    padding: 10px;
    float: left;
    background-color: #a6d6c3;
}

#accueil {
    width: 70%;
    float: left;
}

section {
    margin-top: 50px;
    padding: 20px;
}

footer {
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2980b9;

    text-align: center;
    color: #fff;
}
/* fin des zones principales de la page */

/* le retour en haut de page */

button {
    position: fixed; /* le bouton est fixé */
    bottom: 40px; /* à 40px du bas de la page */
    right: 20px; /*  et à 20px de la droite de la page */

    border: none; /* le bouton n'a pas de bordure */
    background: transparent; /* il est transparent */

    font-size: 350%;
    color: #2c3e50;
}

.selection p{/* la page sélecteur */
    margin-bottom: 5px;
    color: greenyellow;
    background-color: hotpink;
}
.selection p:first-of-type{/* 1er enfant du type désigné  */
    background-color: indianred;
}
.selection p:last-of-type{
    background-color: rgb(115, 174, 214);
    width: 300px;
}
.selection p:nth-of-type(4), p:nth-of-type(6){
    background-color: peru;
    color: snow;
}
/* 
.selection *:last-child{   ciblon tous  derniers enfants des les élments  dans la class selection 
    font-size: 50px; 
}
*/

.selection .zone-a{
    color: rgb(165, 23, 165);
}
.selection .zone-b{
    color: rgb(201, 191, 57);
}
.selection div:not(.zone-b){
    font-size: 68px;
    background-color: rgb(247, 247, 247);
}
.selection .zone-b .texte-orange{
    font-size: 35px;
    color: orangered;
}
.selection #zone-d span{
    color: orchid;
    font-size: 30px;
    font-style: italic;
}


 /* pages des images */
 .img-fond{
     margin-bottom: 20px;
 background: #000 url('../img/fond.jpg') no-repeat;
 background-size: cover;
 }
.img-fond p {
    width: 75%;
    margin: 200px auto 250px auto;
    padding: 20px;

    background:paleturquoise ;
    border-radius: 10px;
    font-size: 120%;
}
img[src="img/toureiffel.jpg"] {
    display: block;
    padding: 20px;
    margin: auto;
    background-color: rgb(2, 2, 2);
}
.au-centre{
    text-align: center;
}
.img-golden{
    margin: 20px;
    border: 5px solid peru ;
    box-shadow: 4px 4px 4px peachpuff;
    transition: 1s;
}
.img-golden:hover{
    transition: rotate(-7deg);
    border: 15px solid palegoldenrod;
}
.rotation-360:hover{
    transform: rotate(-360deg);
}
/* fin page des images */

/* debut des tableau */
.tableau table, .tableau td{
    border: 2px solid black;
}
.tableau table{
    width: 80%;
    margin: auto;
    /* padding: 5px; */
    border-collapse: collapse;
}
.tableau td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
.tableau thead{
    background-color: cadetblue;
    border: 5px solid pink;
 
}
.tableau caption{
    height: 50px;
    padding-left: 5px;
    background: powderblue;
    font-size: 25px;
    text-align: center;
    color: rgb(201, 191, 57);
}
/* syle page les listes */

ul.fruits{ 
    /* pou fair tous les types denpuces faites Ctrl+Espace */
    list-style:none;

}
ul.fruits li{
 display: inline;
 margin: 15px;
}
li .far{
    font-size: 90%;
    color: orange;  
}
li .far:hover {
    font-size: 150%;
    color: orchid;
}
ol.fruits-2{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: upper-roman;    
}
.imbriquee, .imbriquee ul {
    padding-left: 50px;
    
}
.imbriquee {
    cursor: pointer;
}
.imbriquee ul {
    display: none;
}
.affiche:hover ul {
    display: block;
}
.imbriquee li ul li:hover{
    display: inline;
    font-size: 200%;
    background-color: pink;
    box-shadow: 5px 10px 10px orangered;
    transition-duration: 1s;
}
/* page de liens */
.ancre{
    text-align: center;
    padding: 100px;
}
.ancre a {
    margin: 8px;
    padding: 5px 10px;
    background: rgb(122, 59, 80);
    border-radius: 15px;
    box-shadow: 0px 0px 10px 3px rgb(230, 189, 78);
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.ancre a:hover{
    box-shadow: none;
    text-shadow: 1px 5px 5px purple;
    transition-duration: 0.5s;
}
/* la nav dans id menu  */
#menu nav {
    background: transparent;
    border:none;
}
#menu ul{
    list-style: none;
    text-align: center;
}
#menu ul li {
    display:  inline-block;
}
#menu nav a {
    padding: 10px;
    background: rgb(112, 53, 11);
    

    color: rgb(194, 204, 51);
    text-decoration: none;
    transition: 1s ease-in;
}
/* hover hwa lika khli li ola ul ola yahja iban fih lon mli kandzo 3liha suri */
#menu nav  a:hover {
    background: #a6d6c3;
    color: #fff;
}
/* le menu déroulant */
#menu-deroulant {
    height: 650px;
}
#menu-deroulant nav {
    width: 90%;
    margin: 0 auto;
    background: transparent;
    border: none;
}
/* on fait flotter à gauche les il de la ul principale */
#menu-deroulant nav ul li {
    float: left;
    list-style: none;
    width: 20%;  
}
/* le deux ul enfant principle  sont displaynone on les masque */
#menu-deroulant ul ul {
    display: none;
}
#menu-deroulant nav ul.niveau-1 li.sous-menu:hover ul.niveau-2{
    display: block;
}
#menu-deroulant nav ul li ul li {
    border-top: 1px solid orange;
    width: 100%;
}
#menu-deroulant nav li {
    background: rgb(175, 101, 41);
}
#menu-deroulant nav li a {
    padding: 4px 0 4px;
    display: block;
}
#menu-deroulunat ul {
    text-align: center;
}
/* formulaire */
form {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 50px;
    
    background: #10828c;
    border-radius: 20px;
}
textarea {
    resize: none;
}
label{
    margin: 20px 10px;
}






 .clear { /* la classe clear pour rétablir le flux  */
    clear: both;
 }
