@charset "UTF-8";

/* reset simple  */
/* l'étoile signifie tout all */
/* si non on peut utiliser la reset d'E ric eric/tools */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 }
    /* fin de reset simple */

/* le typos google 
    font-family: 'Anton', sans-serif;

    font-family: 'Lemonada', cursive;

    font-family: 'Oswald', sans-serif;
   
    font google لاستعمال لغات غوعل نقوم بستدعائها من خلال رابط
    * مثلا هده الخطوط فوق
*/
body{
    background-color: #EEAD64;
    font-family: 'Oswald', sans-serif;
    background-image: url('../img/concrete-texture.png');
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    /* espacment entre les letrres */
    color: #2980b9;
}
h2{
    font-size: 35px;
    color:#2c3e50;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #aaa;
    /* ombre portée une propriété qui besoin de 1 ou plusieurs valeurs   */
}
 /* tail de l'cone dans le h2 */
 h2 i{
     font-size: 150%;
 }
h3{
    font-size: 22px;
    color:rgb(114, 68, 8);
    /* text-shadow:لاظهار بعض الضبابية */
    text-shadow: 1px 1px 2px #aaa;
}
/* النصوص:blockquote */
blockquote{
    font-family:   'Lemonada', cursive ; 
    font-size: 120% ;
}
blockquote i{
    font-size: 350%;
    color: chartreuse;
    vertical-align: middle;
}
/* a compléter position */
header{
    height: 175px;
    background-color:#67dfa3;
    /* dans le header les trois zones suivantes toutes les trois à gouche elles ont une largeur en %  */
}
#logo{
    width: 25%;
    float: left;
    padding: 15px;
    text-align: center;
}
#slogan{
    width: 50%;
    float: left;
    padding-top: 50px;
}
#socail{
    width: 20%;
    float: left;
}
/*  la classe clear pour retablaire le float */
.clear{
    clear: both;
}