body {
    background-color: #eee8aa;
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin: 0;
}
p{
    margin: auto;
}

#zoning-7{
    width: 800px;
    margin: 0 auto;
    background-color: #ff4500;
}


#zoning-7 header { 
    height: 80px;
    background-color: #40a497;
}

#zoning-7 nav {
    height: 30px;
    background-color: #9a40a4;
}
#zoning-7 section{
    height: 600px;
    margin: 20px;
    background-color: pink;
}

#zoning-7 .green {
    width: 50%;
    height: 300px;
    float: left;
    background-color: teal;
}
#zoning-7 .yallow {
    width: 50%;
    height: 300px;
    float: left;
    background-color: rgb(189, 218, 30);
}

#zoning-7 .bleu {
    width: 50%;
    height: 300px;
    float: left;
    background-color: blue;
}

#zoning-7.nonbleu {
    width: 50%;
    height: 300px;
    float: left;
    background-color: blueviolet;
 } 
 
 #zoning-7 footer {

    height: 80px;
    background-color: #40a497;
}

.clear {
    clear: both;
    }